<h2><%= @venue.name %></h2>
<%= link_to "Edit", edit_manager_venue_path(@venue) %>
<%= render partial: 'venues/venue_details', locals: {venue: @venue} %>


<div id="header">
  <h1 class="logo"><a href="">site Name</a></h1>
</div>
