<h3>News Feed</h3>
<div class="container">
    <div class="collection">
        <% if current_user.news_feed.empty? %>
          <article class="collection-item">
            <p class="title">No activity.</p>
          </article>
        <% else %>
          <% for activity in current_user.news_feed %>
              <%= render_activity activity %>
          <% end %>
        <% end %>
    </div>
</div>
