<% if params[:q] %>
  <p>You searched for: <%= params[:q] %></p>
<% end %>
<form id="search_form" method="GET" action="<%= referral %>">
  <input placeholder="Search" id="search" type="text" name="q" autocomplete="off"/>
  <input type="submit" value="Search" class="waves-effect waves-light btn">
</form>
