<div id="wrapper">
  <div class="col-lg-12">
      <p>
        <%= link_to "#{activity['actor'].first_name} #{activity['actor'].last_name}", user_path(activity['actor']) %>
        <%= "#{activity['verb']}ed" %>
        <%= link_to activity['object'].name, send("#{activity['object'].class.to_s.downcase}_path", activity['object']) %>
      </p>
      <p class="timestamp"><%= localize(DateTime.parse(activity['time']), format: :long) %></p>
  </div>
</div>
