<article class="activity collection-item avatar follow">
  <i class="material-icons white circle green-text">add_circle_outline</i>
  <%= render partial: "activity/activity", locals: {activity: activity} %>
  <!-- <p class="secondary-content"><i class="material-icons">add_circle_outline</i></p> -->
</article>
