<article class="activity collection-item avatar unfollow">
  <i class="material-icons white circle red-text">remove_circle_outline</i>
  <%= render partial: "activity/activity", locals: {activity: activity} %>
  <!-- <p class="secondary-content"><i class="material-icons">remove_circle_outline</i></p> -->
</article>
