<div class="row">
  <div class="venues">
    <% @venues.each do |venue| %>
      <div class="card col s12 m4">
        <div class="card-content venue">
          <span class="card-title"><%= link_to venue.name, venue_path(venue) %></span>
          <%= render partial: 'venues/venue_details', locals: {venue: venue} %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <%= will_paginate @venues %>
</div>
