<h2><%= @venue.name %></h2>
<% if current_user && current_user.role == "member" %>
  <%= link_to ("Follow Venue", user_follows_path(@venue, followable: "Venue"), :method => :post %>
<% end %>
<%= render partial: 'venues/venue_details', locals: {venue: @venue} %>
