    <div class="collection white-div">
      <h3 class = "center-align">News Feed</h3>
        <% if @user.news_feed.empty? %>
          <article class="collection-item">
            <p class="title">No activity.</p>
          </article>
        <% else %>
          <% for activity in @user.news_feed %>
              <%= render_activity activity %>
          <% end %>
        <% end %>
    </div>
