<!--
This is the manager role partial:
Should have
- Your venues
 - Add New Venue
- Feed for all activity
-->

<div class="venues">
  <%= link_to "My Venues", manager_venues_path %>
  <%= link_to "Add Venue", new_manager_venue_path %>
  <a href="" class="view-all"></a>
  <ul>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
