<!--
This is the member role partial:
Should have
- Your wines
- Your venues
- Your Badges
- Feed
-->

<p>Followers: <%= current_user.followers.count %></p>
<p>You are Following: <%= current_user.follows.count %></p>
