@import "materialize";
@import "materialize/extras/nouislider";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "font-awesome-sprockets";
@import "font-awesome";

#map {
  width: 50%;
  height: 50%;
  min-height: 300px;
  min-width: 300px;
}

.btn-red {
  background-color: #ee6e73;
}

body {
  background-color: rgba(250, 235, 235, 0.58);
}

.white-div {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 20px;
  margin: 0.75rem 0 0 0;
}

.btn {
  margin: 0 0 15px 0;
}

nav {
  margin-bottom: 40px;
}

.toast {
  border-radius: 24px;

  &.success {
    background-color: #5cb85c;
  }

  &.danger {
    background-color: orangered;
  }

  &.warning {
    background-color: #FFCC00;
  }

  &.error {
    background-color: #D8000C;
  }

  &.info {
    background-color: #00529B;
  }

}

.venues .card {
  min-height: 250px;
}
