<h1 class = "center-align">Admin Dashboard</h1>

<div class="row center-align">
  <div class="col s4">
    <%= link_to admin_users_path do %>
      <div class="white-div">
        <h4><i class="fa fa-users" aria-hidden="true"></i> <br><br>Manage Users</h4>
      </div>
    <% end %>
  </div>
  <div class="col s4">
    <%= link_to "#" do %>
      <div class="white-div">
        <h4><i class="fa fa-glass" aria-hidden="true"></i> <br><br>Manage Wines</h4>
      </div>
    <% end %>
  </div>
  <div class="col s4">
    <%= link_to "#" do %>
      <div class="white-div">
        <h4><i class="fa fa-building-o" aria-hidden="true"></i> <br><br>Manage Venues</h4>
      </div>
    <% end %>
  </div>
</div>
