<h3>Search for a wine:</h3>
<%= render partial: 'shared/search', locals: {referral: wines_path} %>

<div class="row">
  <% @wines.each do |wine| %>
  <div class="col s6">
    <div class="card medium">
      <div class="card-content center">
        <%= render partial: 'wines/wine_details', locals: {wine: wine} %>
      </div>
    </div>
  </div>
<% end %>
</div>

<%#= will_paginate @wines %>
</div>
